@import url("https://use.typekit.net/kuw2tbx.css");
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Styles for all pages */

body {
    font-family: inter, century-gothic, sans-serif;
}

.title-text {
    font-size: 4em;
}

.title-text-brown {
	color: #4E2503;
    font-family: 'Chewy';
}

.title-text-green {
	color: #087248;
    font-family: 'Chewy';
}

.text-green {
    color: #087248;
}

.bg-beige {
    color: #DE9D68;
}

.italic {
    font-style: italic;
}

.hero-header {
    background-color: #DE9D68;
	background-image: url("../images/banner-bark-budget.png");
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.btn-green {
    background-color: #087248;
    color: #ffffff;
}

.indented-p {
    padding-left: 20px;
  }

.full-width {
    width: 100%;
    height: auto;
}

/* Service descriptions */

.bg-green {
    background-color: #087248;
    color: #ffffff;
}

.border-green {
    border-color: #087248
}

.bg-brown {
    background-color: #4E2503;
    color: #ffffff;
}

.border-brown {
    border-color: #4E2503
}

.my-header {
    height: 3em
}

/* Tip pages*/

#tipTab {
    display: flex;
    justify-content: center;
}


/* Corporate */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* End of own styles */
